html, body{
height: 100%;
margin: 0px;
text-align: center;
background-image: linear-gradient(to bottom, red, orange, yellow, green, turquoise, blue, navy, purple, pink);
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}
h1{
    border: 3px solid black;
  }
#introduction{
    border: 3px solid black;
}
.login_div
{
	background: rgba(255,255,255,0.8);
    float: none;
    border-radius: 15px;
    border-width: 3px solid black;
    margin-left: 20px;
}
#span1{
    display: inline-flex;
}
#intro_div{
    height: 700px;
    width: 50%;
}
.column {
    float: left;
    width: 30%;
    height: 300px;
    /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
}

  /* Style the header */
  header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}